#principalArticle{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

#principalArticle .image{
    display: flex;
    width: 30vw;
    height: 50vh;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}
#principalArticle .image img{
    width: 60%;
    height: auto;
}

#principalArticle .description{
    display: flex;
    width: 60vw;
    flex-direction: column;
    height: 50vh;
    
    text-align: justify;
    padding: 1vh;
    margin-top: 20px;
    align-items: center;
    overflow: auto;
}

#principalArticle .description h1{
    color: rgb(170, 135, 204);
    margin-bottom: 0;
    margin-top: 2px;
    font-size: 38px;
}

#principalArticle .description p{
    font-size: 14px;
    padding: 1vw;
    color: white;
}